<h3>Lesson 1: HTML</h3>
<a href="https://trinket.io/html/ab4bfb3f089a">Exercise 1.1</a><br>
<a href="https://trinket.io/html/ef6997b4ea97">Exercise 1.2</a><br>
<h3>Lesson 2: HTML</h3>
<a href="https://trinket.io/html/d70f65679cea">Exercise 2.1</a><br>
<a href="https://trinket.io/html/e51e6bc31afb">Exercise 2.2</a><br>
<h3>Lesson 3: HTML</h3>
<a href="https://trinket.io/html/bcca37c288b9">Exercise 3.1</a><br>
<a href="https://trinket.io/html/f5c2720bdfce">Exercise 3.2</a><br>
<h3>Lesson 4: HTML (Split Screen)</h3>
<a href="https://trinket.io/html/2d418aca00ef">Exercise 4.1</a><br>
<a href="https://trinket.io/html/3bf13b5b3fc6">Exercise 4.2</a><br>
<h3>Lesson 4: HTML (Toggle)</h3>
<a href="https://trinket.io/html/2d418aca00ef?toggleCode=true">Exercise 4.1</a><br>
<a href="https://trinket.io/html/3bf13b5b3fc6?toggleCode=true">Exercise 4.2</a><br>
<h3>Teacher Demonstrations</h3>
<a href="https://trinket.io/html/9e3fd35d0c02">Lesson 1</a><br>
<a href="https://trinket.io/html/1b705ecd8580">Lesson 2</a><br>
<a href="https://trinket.io/html/b3dba3f9a114">Lesson 3</a><br>
<a href="https://trinket.io/html/373e6107f1d9">Lesson 4 (Split Screen)</a><br>
<a href="https://trinket.io/html/373e6107f1d9?toggleCode=true">Lesson 4 (Toggle)</a><br>

